<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="row text-center justify-content-center align-items-center">
      <div class="col-md-6">
        <p> Esta página es exclusiva para usuarios registrados.</p>
        <p>Se ha generado la siguiente firma electrónica: </p> 
        {{ e_signature }}
        <a class="btn btn-primary" href="/firmar">Volver</a>
      </div>
    </div>
  </div>
</body>

</html>